@import 'App.scss';


// Variables
$color_one: #111C4E;
$color_two: #1B998B;
$color_three: #FFAE03;
$color_four: #EE6352;
$color_five: #F5EFED;

$bgcolor: $color_one;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
