@import 'App.scss';
@import 'index.scss';


// # Personal Styles
//     Contents:
//       1. Color Scheme

// 1. Color Scheme
$color_one: #1A535C;
$color_two: #4ECDC4;
$color_three: #F7FFF7;
$color_four: #FF6B6B;
$color_five: #FFE66D;

$bgcolor: $color_one;
$default_text_color: $color_five;

.my_greeting {
    color: $color_two;
}

li.list-group-item {
    background-color: inherit;
}

body {
    background-color: $bgcolor;
    color: $default_text_color;
}

span {
    &.employer_name {
        font-weight: bold;
    }
    &.job_dates {
        display: block;
        margin-bottom: 20px;
    }
    &.job_title {
        display: block;
    }
}