@import 'App.scss';
@import 'index.scss';
@import "~bootstrap/scss/bootstrap.scss";


// # Personal Styles
//     Contents:
//       1. Color Scheme
//       2. Variables
//       3. Page styles

// 1. Color Scheme
$color_one: #1A535C;
$color_two: #4ECDC4;
$color_three: #F7FFF7;
$color_four: #FF6B6B;
$color_five: #FFE66D;


// 2. Variables
$bgcolor: darken($color_one, 15);
$default_text_color: $color_five;


// 3. Page styles
.my_greeting {
    color: $color_two;
}

li.list-group-item {
    background-color: inherit;
}

body {
    background-color: $bgcolor;
    color: $default_text_color;
}

span {
    &.employer_name {
        font-weight: bold;
    }
    &.job_dates {
        display: block;
        margin-bottom: 20px;
    }
    &.job_title {
        display: block;
    }
}

main#fullscreen {
    height: 100vh;
    
    .container {
        .row {
            position: relative;
        }

        .intro_row {
            margin-top: 50vh;
            margin-bottom: 50vh;
        }

        .jobs_row {
            border-left: 2px solid $color_two;

            h2.jobs_row_title {
                margin-bottom: 20vh;
                color: $color_two;
            }

            .job_row {
                margin-bottom: 20vh;

                &:last-child {
                    margin-bottom: 0vh;
                }
            }
        }

        .education_row {
            margin-top: 20vh;
            margin-bottom: 20vh;
            border-left: 2px solid $color_two;

            h2.education_header {
                color: $color_two;
            }
        }
    }
}